@using PierresVendors.Models;

<h1>Vendor Details: </h1>

<h2>@Model["vendor"].Name</h2>
<p>@Model["vendor"].Description</p>

<h3>Current Orders:</h3>
@foreach (Order order in Model["vendor"].Orders)
{
  <h4>@order.Description</h4>
}
<a href='/vendors/@Model["vendor"].Id/orders/new'>Add order</a>
<a href='/vendors'>View all vendors</a>