@{
    Layout = "_Layout";
}

<h1>welcome to pierre's bakery</h1>
<a href='/vendors/new'><button type="button" class="btn">create new vendor account</button></a>
<button class="btn"><a href='/vendors'>find existing vendor account</a></button>