@{
    Layout = "_Layout";
}

<h1>welcome to pierre's vendor tracker</h1>
<button type="button" class="btn"><a href='/vendors/new'>create new vendor account</a></button>
<button class="btn"><a href='/vendors'>find existing vendor account</a></button>