@{
    Layout = "_Layout";
}

<h1>Welcome to Pierre's Vendor Web App!</h1>
<button><a href='/vendors/new'>Set up new vendor account</a></button>
<button><a href='/vendors'>Find existing vendor account</a></button>