@using PierresVendors.Models;

<h1>List of Orders</h1>

<a href="/orders/new">Add a new order.</a>

<form action = "/orders/delete" method="post">
  <button type="submit" name="button">Clear All orders</button>
</form>