@using PierresVendors.Models;
@{
    Layout = "_Layout";
}

<h1>add a new @Model.Name order</h1>
<h2>order:</h2>

<form action="/vendors/@Model.Id/orders" method="post">
  <label for="orderTitle">title:</label>
  <input id="orderTitle" name="orderTitle" type="text"><br>
  <label for="orderDescription">notes:</label>
  <input id="orderDescription" name="orderDescription" type="text"><br>
  <label for="orderPrice">price:</label>
  <input id="orderPrice" name="orderPrice" type="text"><br>
  <label for="orderDate">date:</label>
  <input id="orderDate" name="orderDate" type="text"><br>
  <button type='submit' class="btn">add order</button>
</form>