@using PierresVendors.Models;
@{
    Layout = "_Layout";
}

<h1>@Model.Title Order Details:</h1>

<h4>@Model.Date</h4>
<h4>@Model.Description</h4>
<h4>@Model.Price</h4>

<button><a href='/vendors/@Model.Id/orders/new'>Add another order</a></button>
<button><a href='/vendors'>View all vendors</a></button>