@using PierresVendors.Models;
@{
    Layout = "_Layout";
}

<h1>@Model.Title order details:</h1>

<h4>@Model.Date</h4>
<h4>@Model.Description</h4>
<h4>@Model.Price</h4>

<button class="btn"><a href='/vendors/@Model.Id/orders/new'>add another order</a></button>
<button class="btn"><a href='/vendors'>view all vendors</a></button>